@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4 d-flex align-items-center justify-content-between">
            <img src="icon-192.png" alt="App Icon" class="img-fluid" style="height: 32px; width: 32px;" />
            <Counter Name="views" />
            <a href="https://packagereferencecleaner.github.com/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
